.dashboard-container .dashboard {
    display: flex;
    flex-direction: row;
    margin: 10px;
}
.dashboard-container h2 {
    text-align: center;
}
.dashboard-container .dashboard .questions {
    border: 1.5px solid rgb(187, 187, 187);
    background-color: white;
    width: 70%;
    margin: 10px;
    border-radius: 10px;
}
.dashboard-container .dashboard .questions:nth-child(2) {
    width: 25%;
}
.dashboard .questions .question-header {
    border-radius: 10px 10px 0px 0px;
    border-bottom: 1.5px solid rgb(187, 187, 187);
    padding: 5px;
    margin: 5px;
    text-align: center;
}
.dashboard .questions .question-grid {
    margin: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
}
.dashboard .questions:nth-child(2) .question-grid {
    grid-template-columns: 1fr;
}